<p>nosotros works!</p>

<!-- <form action="nosotros.component.html"> -->
  <p>Nombre:</p>
  <input type="text" placeholder="Nombre" [disabled] = inputBox/>

  <p>Edad: {{getEdad()}} {{getEdad() <18?"Menor de edad": "Mayor de edad"}}</p>
  <input type="number" placeholder="Edad" />

  <p>Correo: {{email.value}}</p>
  <input type="text" placeholder="Correo" #email/>

  <br><br>

  <button (click)="saludar(email.value)">Enviar</button>
<!-- </form> -->

<br><br><br>

<form action="">
  Num1: <input type="number" [(ngModel)] = num1 name="num1">
  Num2: <input type="number" [(ngModel)] = num2 name="num2">
  <button class="btn btn-primary" (click)="suma(num1, num2)">Suma</button>

  <p>La suma es {{resultSuma}}</p>
</form>



<button type="button" class="btn btn-primary">Primary</button>
